@font-face {
  font-family: "CodecPro-Regular";
  src: url("/fonts/CodecPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --color-background: #ffffff;
  --color-foreground: #171717;
}

.dark {
  --color-background: #0d1319;
  --color-foreground: #ededed;
}

html {
  font-family: "CodecPro-Regular", sans-serif;
  color: var(--color-foreground) !important;
  background-color: var(--color-background) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #eab308;
}

/* hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}
