@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CodecPro-Regular";
  src: url("/fonts/CodecPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-family: "CodecPro-Regular", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #23417c;
  font-family: "CodecPro-Regular", sans-serif;
}

p {
  font-family: "CodecPro-Regular", sans-serif;
}

/* hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}
